.Signup_wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #F8F7F2;
}
.Signup_logo{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.Signup_logo>img{
    width: 350px;
    height: 250px;
}
.head_up{   
    line-height: 44px;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}
.Signup_detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}
.detail1{
    display: flex;
    flex-direction: column;
}
.detail1>span{
    margin-left: 35rem;
    text-align: left;
    font-style: normal;
    font-family: 'Quicksand';
    font-size: 20px;
    line-height: 31px;

}

.detail1>input{
    width: 500px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 35rem;
    border: 1px solid #000000;
    height: 2rem;
    outline: none;

}
.signup_foot{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 3rem;
}
.signup_foot>span:nth-of-type(2){
    text-decoration: underline;
    font-size: 25px;
    font-weight: 600;
}
.signup_foot>span:nth-of-type(1){
    font-size: 25px;
}
