.left.menu item {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-right: 50px;
}

i.icon.search{
margin-top: 40px;
}

img{
    width: 145px;
    height: 85px;

}
.item {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    color: black;
    margin-left: 5px;
}

item:hover{
    background:olive;
}

.right.menu{
    position:absolute;
    right: 0px;
}

@media screen and (max-width: 850px) {
    .ui.secondary.menu {
        grid-template-columns: 1fr;
    }

}