.navbar {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.brand-logo {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.brand-logo img {
  width: 100%;
  height: 100%;
}

.item-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}

.item {
  color: #000;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.item-list .item:not(:last-child) {
  margin-right: 2rem;
}

.item:hover {
  color: #2b7a0b;
  font-weight: bold;
}

.navbar-search {
  cursor: pointer;
  width: 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 0.2rem 0.8rem;
  gap: 1rem;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.search__input {
  flex-grow: 1;
  border: none;
  width: 100%;
}

.search__input:focus {
  outline: none;
}

.navbar-search button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.navbar-search:focus-within {
  width: 20rem;
  border: 2px solid #2b7a0b;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  z-index: 40;
}

.hamburger-item-list {
  display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translate(6px, 6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translate(-6px, 6px);
}

@media (max-width: 1250px) {
  .brand-logo {
    width: 120px;
    height: 80px;
  }

  .item-list {
    font-size: 1.2rem;
  }

  .item-list .item:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (max-width: 950px) {
  .navbar {
    /* flex-direction: column; */
    margin-bottom: 1rem;
  }

  .item-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .item-list {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .navbar-search {
    display: none;
  }

  .hamburger-item-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vh;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    z-index: 30;
    padding: 1rem;
    transition: all 0.4s ease;
  }

  .hamburger-item-list .item:not(:last-child) {
    margin-bottom: 1rem;
  }
}