.favourite {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.favourite--heading {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.125rem;
  margin-bottom: 2.5rem;
}
input {
  width: 100%;
  border: none;
  font: inherit;
  margin-left: 1rem;
}
input:focus {
  outline: none;
}

.search-input {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2b7a0b;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.card-list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.btn {
  margin: 2rem 0 1rem 0;
  padding: 0.5rem 1.2rem;
  font: inherit;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn {
  background-color: #eae509;
}

.skip-btn {
  color: #000;
}

.skip-btn:hover {
  color: rgba(0, 0, 0, 0.578);
}

/* media query */

@media (max-width: 867px) {
  .favourite {
    padding: 0 1rem;
    width: 80vw;
    margin: 0 auto;
    margin-top: 4rem;
  }

  /* .card-list {
    gap: 2rem;
  } */
}

@media (max-width: 768px) {
  .favourite {
    padding: 0 1rem;
    width: 80vw;
    margin: 4rem auto;
  }
  .favourite--heading {
    font-size: 1.5rem;
  }

  .card-list {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .favourite--heading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .card-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 280px) {
  .favourite {
    font-size: 0.8rem;
    margin-top: 2rem;
  }
  .favourite--heading {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 2rem;
  }

  .card-list {
    grid-template-columns: 1fr;
  }
}
