/* .ui.icon.input {
    position: absolute;
    top: 1350px;
    width: 1330px;
    height: 46px;
    left: 83px;
    border: 2px solid #2B7A0B;
    border-radius: 10px;

}
 */

 hr{
   color: yellow;
   position: absolute;
   top: 10px;
}

