/* .ui.icon.input {
    position: absolute;
    top: 1350px;
    width: 1330px;
    height: 46px;
    left: 83px;
    border: 2px solid #2B7A0B;
    border-radius: 10px;

}
 */

hr {
  background-color: #eae509;
  height: 0.2rem;
  width: 100%;
  border: none;
}
