.trending {
  /* min-height: 500px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem 0;
  gap: 2rem;
  margin: 0px;
  background: #f8f7f2;
}
.trending_container {
  margin: 0 1rem;
  display: flex;
  /* justify-content: space-between; */
  /* width: 100%; */
  height: 30rem;
  padding: 0 1rem;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1rem;
}

.trending_container > .news-card {
  background-color: #fff;
}

.trending_search_form {
  margin: 0 2rem;
  position: relative;
}

.trending_search_form > input {
  width: 95%;
  height: 46px;
  box-sizing: border-box;
  border: 2px solid #2b7a0b;
  border-radius: 10px;
  text-align: left;
  padding: 1rem;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  opacity: 0.55;
  line-height: 25px;
}

.home-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2b7a0b;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 3rem;
  margin: 0 0.5rem;
}
.home-search span {
  margin-right: 1rem;
}

.home-search input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f8f7f2;
  font-size: 1.2rem;
  /* color: #f8f7f2; */
  opacity: 0.55;
}

.trending_main_heading {
  margin: 0 3rem;
  /* width: 204px; */
  /* height: 44px; */
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
  /* margin-left: 40px; */
}
