.dashboard-container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
}
.dashboard-container > div:last-child{
	flex: 1;
}
.dashboard {
	font-weight: 500;
	height: 100%;
	background-color: white;
	color: #000;
  padding: 1rem;
}
.dashboard input,
textarea,
select {
	font-family: inherit;
	font-weight: 500;
	padding: 0.5rem;
	width: 100%;
	border-radius: 10px;
	border: 1px solid rgb(208, 208, 208);
}
.dashboard input:focus,
textarea:focus,
select:focus {
	outline: none;
	border: 1px solid #eae609;
}
.dashboard form :where(.add-blog, .udpate-blog) {
	width: 100%;
	padding: 0.9rem 0;
	border-radius: 10px;
	border: none;
	background-color: #eae609;
	cursor: pointer;
}
.dashboard form :where(.add-blog, .udpate-blog) {
	background-color: #eae609b8;
}
