.footer {
  padding: 3rem;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font: inherit;
  width: 100%;
  background: #2b7a0b;
}

.footer-heading {
  margin-bottom: 2rem;
}

.footer-subheading {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}

.footer .footer-content-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-content-list .footer-content {
  flex: 1;
  padding: 0 4rem;
  text-align: center;
  font-size: 1.15rem;
}

.footer-content-list .footer-content li {
  list-style: none;
}
.footer-content-list .footer-content li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footer-content-list .footer-content li a {
  color: inherit;
}

@media (max-width: 800px) {
  .footer .footer-content-list {
    display: block;
  }
  .footer-content-list .footer-content {
    text-align: left;
    padding: 0;
  }
  .footer-content-list .footer-content:not(:last-child) {
    margin-bottom: 1rem;
  }
}
