.footer {
  padding: 3rem;
  padding-bottom: 8rem;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font: inherit;
  width: 100%;
  background: #151414;
  border-top: 1px solid #373636;
}

.footer-heading {
  margin-bottom: 2rem;
}

.footer-subheading {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
.footer-subheading::after{
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 50%;
  height: 3px;
  border-radius: 20px;
  background-color: #E55807;
}
.footer .footer-content-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-content-list .footer-content {
  flex: 1;
  padding: 0 4rem;
  text-align: center;
  font-size: 1.15rem;
}

.footer-content-list .footer-content li {
  
  list-style: none;
}
.footer-list ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.footer-content-list .footer-content li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footer-content-list .footer-content li a {
  color: inherit;
}
.email input{
  height: 45px;
  background: rgb(30, 29, 29);
  box-shadow: 0px 0px 0px 0px;
  
}
.email input::placeholder{
  color : rgb(85, 83, 83);
  padding-left: 25px;
}
.send-button{
  background-color: #E55807;
  height: 45px;
  width: 55px;
}
.follow{
  margin-top:3rem;
}
@media (max-width: 800px) {
  .footer .footer-content-list {
    display: block;
  }
  .footer-content-list .footer-content {
    text-align: left;
    padding: 0;
  }
  .footer-content-list .footer-content:not(:last-child) {
    margin-bottom: 1rem;
  }
}
