.news_letter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    box-sizing: border-box;
    flex-direction: column;
    background: #f8f7f2;
  }
  .news_letter_form {
    height: 100%;
    width: 60%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .input {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
  }
  .input > h1 {
    width: 100%;
    text-align: left;
    width: 48px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
  
    color: #000000;
  }
  
  .input > input {
    box-sizing: border-box;
    width: 635px;
    height: 34px;
    border-radius: 5px;
  }
  
  .news_letter_form_button {
    width: 136px;
    height: 45px;
    left: 652px;
    background: #eae509;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 35px;
    cursor: pointer;
  }
  .news_letter_heading {
    height: 44px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    color: #000000;
  }

  .input > input{
    padding: 10px;
  } 