.news {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 0;
  gap: 2rem;
  height: 100%;
}
.news_container {
  margin: 0 1rem;
  padding: 0 1rem;
  display: flex;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1rem;
}

.news_main_heading {
  margin: 0 3rem;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
  /* margin-left: 40px; */
}
